@media (max-width: 768px) {
    .header {
        &__official {
            display: none;
        }
        &__logo {
            img {
                width: 90%;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advant {
        padding: 30px 0 38px;
        &__wrapper {
            flex-wrap: wrap;
            margin-top: 50px;
        }
    }
}
@media (max-width: 576px) {
    .header {
        &__logo {
            img {
                width: 80%;
            }
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 130px;
        }
    }
    .promo {
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 320px;
        }
    }
    .advant {
        &__title {
            font-size: 25px;
        }
        &__wrapper {
            justify-content: center;
        }
    }
}