@import "base/variables";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advant";
@import "media";
* {
    font-family: "Museo Sans" sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
